@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #ef6603;
  text-decoration: none;
}

a:hover {
  color: #fc8129;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------Back to Top-------*/

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #7011ed;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #7011ed;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*------------Header-------------*/

#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  top: 20px;
}
#header .header-container {
  background: white;
}
#header.header-scrolled {
  background: white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  top: 0;
}
#header .logo {
  overflow: hidden;
  padding: 16px 30px 12px 7px;
}
#header .logo h1 {
  font-size: 30px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family:  "montserrat",sans-serif;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: white;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 55px;
}
@media (max-width: 992px) {
  #header {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    top: 0;
    background: #ebe702;
  }
  #header.header-scrolled, #header .header-container {
    background: #ebe702;
  }
  #header .logo {
    padding-left: 0;
  }
}
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 20%;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 5px 60px;
  color: #36343a;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 500;
  font-family:  "montserrat",sans-serif;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 1px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #7011ed;
  font-weight: bold;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
  font-weight: 500;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #7011ed;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(29, 28, 31, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #36343a;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #7011ed;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #7011ed;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}


/*--------------seemore-------------*/
#seemore{
  padding: 150px;
}
#seemore h1{
  font-size: 30px;
  color: black;
  font-weight: 700;
  font-family: "montserrat",sans-serif;
  text-align: center;
}

.title1::before{
  content: '';
  background:#7b1798;
  height: 5px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(50px);
}
.title1::after{
  content: '';
  background:#7b1798;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(5px);
}
#seemore img {
  vertical-align: middle;
}
#seemore .rel-image img{
  width: 1100px;
height: 650px;
  margin-left: 1%;
}
#seemore .container {
  position: relative;
}
#seemore .mySlides {
  display: none;
}
#seemore .cursor {
  cursor: pointer;
}
#seemore .prev,
#seemore .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: white;
}
#seemore .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
#seemore .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
#seemore .caption-container {
  text-align: center;
  background-color: white;
  padding: 2px 16px;
  color: white;
  font-size:20px;
}
#seemore .row:after {
  content: "";
  display: table;
  clear: both;
}
#seemore .column {
  float: left;
  width: 0.5px;
  position: absolute;
}
#seemore .new-align{
  margin-left: 17px;
}
#seemore .demo {
  opacity: 1;
}
#seemore .active,
#seemore .demo:hover {
  opacity: 0.1;
}

/*---------------Images-------------*/


#image .column {
  float: left;
  width: 25%;
  padding: 10px;
}

#image .column img {
  opacity: 0.8; 
  cursor: pointer; 
}

#image .column img:hover {
  opacity: 1;
}

#image .row:after {
  content: "";
  display: table;
  clear: both;
}
#image h3{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding:5px;
}
#image .numeric-image{
  padding-top: 50px;
}

/*------------------Footer-----------*/
#footer {
    margin-top:80px;
    color: #2e2c2c;
    font-size: 14px;
    background: #f1f0f2;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: black;
    color: white;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-contact h3{
    background:white;
    color: #ffc600;
    border: 2px solid #7011ed;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    width: 150px;
  }
  #footer .footer-contact h3:hover{
    background: #f5f3c9;
    color: black;
    border:2px solid #ffc600;
  }
  
  
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: white;
  }
  #footer .footer-top .footer-contact a{
    color: #fff;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #7011ed;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: white;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #6a0af0;
  }
  
  #footer .footer-newsletter {
    font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #6a0af0;
  }
  
  #footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #ffc600;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type="submit"]:hover {
    background: #f5f3c9;
    color: black;
    border: 2px solid #ffc600;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
  }
  #footer .social-links{
    margin-left: 300px;
    padding: 20px;
  }
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ffc600;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: white;
    color: #5f6f92;
    text-decoration: none;
  }